In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv("car_data.csv")
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [13]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [15]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [16]:
#Q1.what is the average pricce of all cars in the dataset?
average = df["Selling_Price"].mean()

In [17]:
print(f"  1.The average price of all the cars in the dataset is $ {average}")

  1.The average price of all the cars in the dataset is $ 4.661295681063123

In [18]:
#Q2.what is the most comman fuel type in the dataset?
df["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [19]:
df["Fuel_Type"].nunique()

3

In [20]:
comman_fueltype = df['Fuel_Type'].mode()[0]
print(f" 2.The most comman fuel type is {comman_fueltype}")

 2.The most comman fuel type is Petrol

In [21]:
#Q3. what is the shape of the dataset?
print("3. Shape:", df.shape)

3. Shape: (301, 9)

In [22]:
#Q4.what are the dataset of the each  items of the datasets
print("\n4. Data types:\n", df.dtypes)
df.info()

4. Data types:
 Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [23]:
#Q5. how many cars have selling price greter than 8.4
df["Selling_Price"].unique()

array([ 3.35,  4.75,  7.25,  2.85,  4.6 ,  9.25,  6.75,  6.5 ,  8.75,
        7.45,  6.85,  7.5 ,  6.1 ,  2.25,  7.75,  3.25,  2.65,  4.9 ,
        4.4 ,  2.5 ,  2.9 ,  3.  ,  4.15,  6.  ,  1.95,  3.1 ,  2.35,
        4.95,  5.5 ,  2.95,  4.65,  0.35,  5.85,  2.55,  1.25,  1.05,
        5.8 , 14.9 , 23.  , 18.  , 16.  ,  2.75,  3.6 ,  4.5 ,  4.1 ,
       19.99,  6.95, 18.75, 23.5 , 33.  , 19.75,  4.35, 14.25,  3.95,
        1.5 ,  5.25, 14.5 , 14.73, 12.5 ,  3.49, 35.  ,  5.9 ,  3.45,
        3.8 , 11.25,  3.51,  4.  , 20.75, 17.  ,  7.05,  9.65,  1.75,
        1.7 ,  1.65,  1.45,  1.35,  1.2 ,  1.15,  1.11,  1.1 ,  1.  ,
        0.95,  0.9 ,  0.75,  0.8 ,  0.78,  0.72,  0.65,  0.6 ,  0.55,
        0.52,  0.51,  0.5 ,  0.48,  0.45,  0.42,  0.4 ,  0.38,  0.31,
        0.3 ,  0.27,  0.25,  0.2 ,  0.18,  0.17,  0.16,  0.15,  0.12,
        0.1 ,  5.75,  5.15,  7.9 ,  4.85, 11.75,  3.15,  6.45,  3.5 ,
        8.25,  5.11,  2.7 ,  6.15, 11.45,  3.9 ,  9.1 ,  4.8 ,  2.  ,
        5.35,  6.25,  5.95,  5.2 ,  3.75, 12.9 ,  5.  ,  5.4 ,  7.2 ,
       10.25,  8.5 ,  8.4 ,  9.15,  6.6 ,  3.65,  8.35,  6.7 ,  5.3 ,
       10.9 ,  8.65,  9.7 ,  2.1 ,  8.99,  7.4 ,  5.65, 10.11,  6.4 ,
        8.55,  9.5 , 11.5 ])

In [24]:
x = df[df["Selling_Price"] >= 8.4].groupby("Car_Name").size()
print("\n 6. Cars having selling price greater than 8.4 \n", x)

 6. Cars having selling price greater than 8.4
 Car_Name
ciaz              1
city             13
corolla altis     3
creta             3
elantra           2
fortuner         11
innova            6
land cruiser      1
verna             2
vitara brezza     1
dtype: int64

In [25]:
#Q6. most expensive car in the dataset
#most expensive car
most_exp_car = df[df['Present_Price'] == df['Present_Price'].max()]
print("\n 6. Car with Highest Present Price:\n", most_exp_car[['Car_Name', 'Present_Price']])

 6. Car with Highest Present Price:
         Car_Name  Present_Price
86  land cruiser           92.6

In [26]:
#Q7. check for the null values inn the dataset
#3.missing  value
print("\n7. Missing values:\n", df.isnull().sum())

7. Missing values:
 Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [27]:
#Q8. check for the duplicate values in the dataset
print("\n 8. Duplicate records:", df.duplicated().sum())
print("\n 8. Duplicate records:", df.duplicated())

 8. Duplicate records: 2

 8. Duplicate records: 0      False
1      False
2      False
3      False
4      False
       ...
296    False
297    False
298    False
299    False
300    False
Length: 301, dtype: bool

In [28]:
df[df.duplicated()]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
93,fortuner,2015,23.00,30.61,40000,Diesel,Dealer,Automatic,0

In [29]:
print(df[df.duplicated(keep = False)])

    Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
15    ertiga  2016           7.75          10.79       43000    Diesel
17    ertiga  2016           7.75          10.79       43000    Diesel
51  fortuner  2015          23.00          30.61       40000    Diesel
93  fortuner  2015          23.00          30.61       40000    Diesel

   Seller_Type Transmission  Owner
15      Dealer       Manual      0
17      Dealer       Manual      0
51      Dealer    Automatic      0
93      Dealer    Automatic      0

In [30]:
#Q9. Average Kms Driven
print("\n Average Kms Driven:", df['Kms_Driven'].mean())

 Average Kms Driven: 36947.20598006644

In [31]:
#Q10.Average selling price by car model
print("\n 10. Avg Selling Price by Car:\n", df.groupby('Car_Name')['Selling_Price'].mean().sort_values(ascending = False))

 10. Avg Selling Price by Car:
 Car_Name
land cruiser           35.000000
fortuner               18.685455
innova                 12.777778
creta                  11.800000
elantra                11.600000
                         ...
Hero Hunk               0.200000
Hero Super Splendor     0.200000
Hero  Ignitor Disc      0.200000
Bajaj  ct 100           0.180000
Bajaj Discover 125      0.175000
Name: Selling_Price, Length: 98, dtype: float64

In [32]:
#Q11 Percentage of cars by fuel type
fuel_present = df['Fuel_Type'].value_counts(normalize = True) * 100
print("\n 25. Percentage of cars by Fuel_Type:\n", fuel_present)

 25. Percentage of cars by Fuel_Type:
 Fuel_Type
Petrol    79.401993
Diesel    19.933555
CNG        0.664452
Name: proportion, dtype: float64

In [33]:
#Q12. Number of cars manufactured before 2010
before_2010 = df[df['Year'] < 2010].shape[0]
print("\n Cars manufactured before 2010:", before_2010)

 Cars manufactured before 2010: 26

In [34]:
before_2010 = df[df['Year'] < 2010]
print("\n Cars manufactured before 2010:", before_2010)

 Cars manufactured before 2010:                       Car_Name  Year  Selling_Price  Present_Price  \
14                       dzire  2009           2.25          7.210
37                         800  2003           0.35          2.280
39                         sx4  2003           2.25          7.980
42                         sx4  2008           1.95          7.150
47                     wagon r  2006           1.05          4.150
54                      innova  2005           2.75         10.210
55               corolla altis  2009           3.60         15.040
77                     corolla  2004           1.50         12.350
84                      innova  2005           3.49         13.460
85                       camry  2006           2.50         23.730
90               corolla altis  2009           3.80         18.610
92                      innova  2005           3.51         13.700
94               corolla altis  2008           4.00         22.780
125  Royal Enfield Classic 500  2009           0.90          1.750
184           Bajaj Pulsar 150  2008           0.25          0.750
185          Suzuki Access 125  2008           0.25          0.580
189        Hero Super Splendor  2005           0.20          0.570
190           Bajaj Pulsar 150  2008           0.20          0.750
192                  Hero Hunk  2007           0.20          0.750
194           Hero  CBZ Xtreme  2008           0.20          0.787
196                  Activa 3g  2008           0.17          0.520
199             Honda CB Shine  2007           0.12          0.580
200           Bajaj Pulsar 150  2006           0.10          0.750
271                       city  2009           3.00         10.000
281                       city  2006           2.10          7.600
298                       city  2009           3.35         11.000

     Kms_Driven Fuel_Type Seller_Type Transmission  Owner
14        77427    Petrol      Dealer       Manual      0
37       127000    Petrol  Individual       Manual      0
39        62000    Petrol      Dealer       Manual      0
42        58000    Petrol      Dealer       Manual      0
47        65000    Petrol      Dealer       Manual      0
54        90000    Petrol  Individual       Manual      0
55        70000    Petrol      Dealer    Automatic      0
77       135154    Petrol      Dealer    Automatic      0
84       197176    Diesel      Dealer       Manual      0
85       142000    Petrol  Individual    Automatic      3
90        62000    Petrol      Dealer       Manual      0
92        75000    Petrol      Dealer       Manual      0
94        89000    Petrol      Dealer    Automatic      0
125       40000    Petrol  Individual       Manual      0
184       26000    Petrol  Individual       Manual      1
185        1900    Petrol  Individual    Automatic      0
189       55000    Petrol  Individual       Manual      0
190       60000    Petrol  Individual       Manual      0
192       49000    Petrol  Individual       Manual      1
194       50000    Petrol  Individual       Manual      0
196      500000    Petrol  Individual    Automatic      0
199       53000    Petrol  Individual       Manual      0
200       92233    Petrol  Individual       Manual      0
271       69562    Petrol      Dealer       Manual      0
281       50456    Petrol      Dealer       Manual      0
298       87934    Petrol      Dealer       Manual      0

ðŸ“„ car_data.csv
This dataset contains detailed information about various cars, including specifications, performance metrics, and market attributes. It is structured in tabular format with each row representing a unique car model and each column capturing a specific feature.

> Common Columns (example)
- Make: Manufacturer of the car (e.g., Toyota, Ford)
- Model: Specific model name
- Year: Year of manufacture
- Engine_Size: Engine displacement in liters
- Horsepower: Power output of the engine
- Fuel_Type: Type of fuel used (e.g., Petrol, Diesel, Electric)
- Transmission: Gearbox type (e.g., Manual, Automatic)
- Price: Market price in USD or local currency
- Mileage: Fuel efficiency (e.g., km/l or mpg)

> Use Cases
- Analyzing car performance trends over time
- Comparing fuel efficiency across brands
- Predicting car prices using regression models
- Filtering cars by features for recommendation system